<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kdsa.user.mapper.Douban250Mapper">

    <resultMap id="BaseResultMap" type="cn.kdsa.user.model.domain.Douban250">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="TINYINT"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,author,
        score,remarks,type,
        createTime,updateTime,isDelete
    </sql>

    <!--下面是自己写的 sql 语句-->
    <select id="selectById" resultType="cn.kdsa.user.model.domain.Douban250">
      select * from douban250 where name = #{name}
    </select>
</mapper>
